body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
section{
    display: flex;
    padding-left: 5%;
    margin-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(img/images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(img/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}